<?xml version="1.0"	encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="Github" value="https://nuget.pkg.github.com/Kode4Hue/index.json" />
	</packageSources>
	<packageSourceCredentials>
		<Github>
			<add key="Username" value="${github-username}" />
			<add key="ClearTextPassword" value="${github-password}" />
		</Github>
	</packageSourceCredentials>
</configuration>